apiVersion: v1
kind: Service
metadata:
  name: my-ex-master-data-service
  labels:
    app: my-ex-master-data-service
spec:
  type: ClusterIP
  ports:
    - port: 3004
      targetPort: 3004
      protocol: TCP
      name: http
  selector:
    app: my-ex-master-data-service
